#suPHP_ConfigPath /home/kuching3/public_html/beta
#DirectoryIndex index.htm index.html index.php
Options -Indexes

#Header set X-XSS-Protection "1; mode=block"
#Header set X-Content-Type-Options nosniff
#Header always append X-Frame-Options SAMEORIGIN

AddDefaultCharset UTF-8
DefaultLanguage en-us

#php_flag display_startup_errors on
#php_flag display_errors off
#php_flag html_errors on
#php_flag log_errors on
#php_value error_log  /home/hotelcom/grocere.com.my/errors.log

RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 


RewriteRule ^home?$ index.php [QSA,L]
RewriteRule ^contact_us?$ contact_us.php [QSA,L]
RewriteRule ^news?$ news.php [QSA,L]
RewriteRule ^news_details?$ news_details.php [QSA,L]
RewriteRule ^signup?$ merchant_signup.php [QSA,L]
RewriteRule ^change_email?$ change_email.php [QSA,L]

RewriteRule ^signout?$ logout.php [QSA,L]
RewriteRule ^order?$ order.php [QSA,L]
RewriteRule ^orders?$ orders.php [QSA,L]
RewriteRule ^track?$ track_parcel.php [QSA,L]
RewriteRule ^staff?$ merchant_staff.php [QSA,L]
RewriteRule ^staff/([^/\.]+)?$ merchant_staff.php?i=$1 [QSA,L]
RewriteRule ^staff_list?$ merchant_staffs.php [QSA,L]
RewriteRule ^please_login?$ merchant_login.php [QSA,L]

RewriteRule ^trip?$ trip_statement.php [QSA,L]
RewriteRule ^page/([^/\.]+)?$ page.php?t=$1

RewriteRule ^the_order/([^/\.]+)?$ order_details.php?i=$1
RewriteRule ^admin_order/([^/\.]+)?$ order_details_admin.php?i=$1

#RewriteRule ^the_order/([^/\.]+)/([^/\.]+)?$ order_details.php?i=$1&t=$2
#RewriteRule ^the_order/([^/\.]+)/([^/\.]+)/staff?$ order_details.php?i=$1&t=$2&s=1


#RewriteRule ^tours?$ index.php [QSA,L]
#RewriteRule ^tours/([^/\.]+)?$ index.php?c=$1 [QSA,L]
#RewriteRule ^tours/([^/\.]+)/([^/\.]+)?$ index.php?c=$1&cat=$2 [QSA,L]
#RewriteRule ^type/([^/\.]+)?$ index.php?ty=$1 [QSA,L]
#RewriteRule ^type/([^/\.]+)/([^/\.]+)?$ index.php?c=$1&ty=$2 [QSA,L]
#RewriteRule ^tour_details/([^/\.]+)?$ tour_details.php?p=$1 [QSA,L]


#RewriteRule ^cart?$ cart.php [QSA,L]
#RewriteRule ^guest?$ guest.php [QSA,L]
#RewriteRule ^checkout?$ checkout.php [QSA,L]
#RewriteRule ^thank_you?$ payment_return_page.php [QSA,L]


